<div>
    <h2>Forgot your password?</h2>/
    <h3>Well aren't you a bastard!?</h3>
    <form>
        Let's have your email and I'll get you what you'll need:<br>
        <input type="email" name="email" id="forgotEmail">
        <button type="submit" id="getEmail">Submit</button>
    </form>
</div>